<!DOCTYPE html>
<html lang="en">
 <head>
     <%- include("./partials/head", {title : "Account"}) %> 
 </head>
 <body>

  <% let userInfo = undefined %> 
  <% if (locals.user) { %> 
  <%  userInfo = user %>
  <% } %> 

  <% function capLetter(string) { %> 
    <% return string.charAt(0).toUpperCase() + string.slice(1); %> 
  <% } %>

  <% function formatPhoneNumber(phoneNumberString) { %>
    <% var cleaned = ('' + phoneNumberString).replace(/\D/g, ''); %>
    <% var match = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/); %>
    <% if (match) { %>
      <% return '(' + match[1] + ') ' + match[2] + '-' + match[3]; %>
    <% }%>
    <% return null;%>
  <% }%>


  <!-- NavBar -->
  <% let cartCount = userInfo?.userCart[0]?.itemId.length %> 
  <%-  include("./partials/navbar", {userInfo, cartCount}) %> 

  <section class="accountSection">
    <div class="accountInfoContainer">
      <h1 class="cartheader">Account Information</h1>
      <% if(userInfo != undefined) { %> 
        <div class="fieldContainer">
          <p>Full Name</p>
          <p><%= userInfo.firstName %> <%= userInfo.lastName %></p>
        </div>
        
        <div class="fieldContainer">
          <p>Username</p>
          <p><%= capLetter(userInfo.username) %></p>
        </div>

        <div class="fieldContainer">
          <p>Date Of Birth</p>
          <p><%= userInfo.dob.toDateString()%></p>
        </div>
        
        <div class="fieldContainer">
          <p>Gender</p>
          <p><%= capLetter(userInfo.gender) %></p>
        </div>
        
        <div class="fieldContainer">
          <p>Email</p>
          <p><%= capLetter(userInfo.email) %></p>
        </div>
        
        <div class="fieldContainer">
          <p>Phone Number</p>
          <p><%= formatPhoneNumber(userInfo.phone) %></p>
        </div>
        
        <div class="fieldContainer">
          <p> </p>
          <a href="/account/edit">
            <button on class="btn btn2">Edit Profile</button>
          </a>
          <a href="/account/changePassword">
            <button on class="btn btn2 changePass">Change Password</button>
          </a>
        </div>
      <% } %> 
    </div>
  </section>

  <footer>
    <%- include("./partials/footer") %> 
  </footer>
  <%- include("./partials/scripts") %> 
  </body>
</html>
