<!DOCTYPE html>
<html lang="en">
 <head>
     <%- include("./partials/head", {title : "Account"}) %> 
 </head>
 <body>

  <% let userInfo = undefined %> 
  <% if (locals.user) { %> 
  <%  userInfo = user %>
  <% } %> 

  <!-- NavBar -->
  <% let cartCount = userInfo?.userCart[0]?.itemId.length %> 
  <%-  include("./partials/navbar", {userInfo, cartCount}) %> 
    
  


  <h2>Account</h2>
  <p>Name</p>
  <span><%= userInfo.firstName %></span> <span><%= userInfo.lastName %></span>
  <br>
  <br>
  <p>Gender</p>
  <span><%= userInfo.gender %></span>
  <br>
  <br>
  <p>Date of Birth</p>
  <span><%= userInfo.dob.getMonth() %> / <%= userInfo.dob.getDay()  %> / <%= userInfo.dob.getYear()-100 %></span>
  <br>
  <br>
  <p>Username</p>
  <span><%= userInfo.username %></span>
  <br>
  <br>
  <p>Email</p>
  <span><%= userInfo.email %></span> 
  <br>
  <br>
  <p>Phone</p>
  <span><%= userInfo.phone %></span> 
  <br>
  <br>

  <footer>
    <%- include("./partials/footer") %> 
  </footer>
  <%- include("./partials/scripts") %> 
  </body>
</html>
