<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head", {title : "Catalog"}) %> 
</head>
<body>

  <% let userInfo = undefined %> 
  <% if (locals.user) { %> 
  <%  userInfo = user %>
  <% } %> 

  <% let catalog  %> 
  <% if(locals.item) {%> 
  <%  catalog = item%> 
  <%  }%> 
 
  <!-- NavBar -->
  <% let cartCount = userInfo?.userCart[0]?.itemId.length %> 
  <%-  include("./partials/navbar", {userInfo, cartCount}) %> 

  <section class="mainContainerSection catalog">
    <%-  include("./partials/navOptions") %> 

    <div class="mainContainer">
        
     <!--  catalog.length -->
     <% for( let i = 0; i < catalog.length; i++ ) { %>
      <div class="catalogItem" id="<%-catalog[i]._id %>">

        <h5>Item ID</h5>
        <p><%-catalog[i]._id%></p>
        
        <h5>Name</h5>
        <input type="text" name="name" value="<%-catalog[i].name%>" class="<%-catalog[i]._id%>">

        <h5>Price</h5>
        <input type="text" name="price" value="<%-catalog[i].price%>" class="<%-catalog[i]._id%>">

        <h5>Description</h5>
        <textarea name="description" class="<%-catalog[i]._id%>"><%-catalog[i].description%></textarea>

        <h5>Type</h5>
        <input type="text" name="type" value="<%-catalog[i].type%>" class="<%-catalog[i]._id%>">

        <h5>Brand</h5>
        <input type="text" name="brand" value="<%-catalog[i].brand%>" class="<%-catalog[i]._id%>">

        <h5>Category</h5> 
        <input type="text" name="category" value="<%-catalog[i].category%>" class="<%-catalog[i]._id%>">

        <h5>Gender</h5>
        <input type="text" name="gender" value="<%-catalog[i].gender%>" class="<%-catalog[i]._id%>">

        <h5>Tags</h5>
        <input type="text" name="tags" value="<%-catalog[i].tags%>" class="<%-catalog[i]._id%>">

        <h5>Sizes</h5>
        <input type="text" name="sizes" value="<%-catalog[i].sizes%>" class="<%-catalog[i]._id%>">

        <h5>Author</h5>
        <p><span><%-catalog[i].author?.firstName%></span> <span><%-catalog[i].author?.lastName%></span> </p>

        <h5>Uploaded Date</h5>
        <p><%-catalog[i].date%></p>

        <h5>Images</h5>
        <div class="catalogImgContainer">
          <div class="itemImgContainer">
            <img src="/images/<%= catalog[i].images[0] %>" class="images">
            <div class="overLay">
              <img src="/imgs/icons/cross.svg" id="<%= catalog[i].images[0] %>/<%=catalog[i]._id%>">
            </div>
          </div>
        </div>
        
        <div class="btnContainer">
          <button class="btn btn2 update" id="<%-catalog[i]._id%>">Update Item</button>
          <a href="/upload/hero?id=<%-catalog[i]._id%>" >
            <button class="btn btn2">Upload Hero</button>
          </a> 
          <a href="/update/<%-catalog[i]._id%>" target="_blank">
            <button class="btn btn2">Edit Images</button>
          </a> 
          <button class="btn btn2 btnWarning duplicate" id="<%-catalog[i]._id%>">Delete Duplicate</button>
          <button class="btn btn2 btnWarning" id="<%-catalog[i]._id%>">Delete Item</button>
        </div>
        <div class="message">
          <p></p>
        </div>
      </div>
     <% } %>
    </div>
  </section>
  <!-- footer -->
  <footer>
    <%- include("./partials/footer") %> 
  </footer>
  <%- include("./partials/scripts") %> 
</body>
</html>


<% //catalog[i].images.forEach(imgs => { %>
  <!-- <div class="itemImgContainer">
    <img src="/images/<%= //imgs%>" class="images">
    <div class="overLay">
      <img src="/imgs/icons/cross.svg" id="<%= //imgs%>/<%= //catalog[i]._id%>">
    </div>
  </div> -->
<% //}) %>

<!--         
  <div class="uploadImgToCatalog itemImgContainer" id="img-<%- //catalog[i]._id%>">
    <input type="file" class="fileUpload custom-file-input"/>
  </div> -->