<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head", {title : "Catalog"}) %> 
</head>
<body>

  <% let userInfo = undefined %> 
  <% if (locals.user) { %> 
  <%  userInfo = user %>
  <% } %> 

  <% let catalog  %> 
  <% if(locals.hero) {%> 
  <%  catalog = hero %> 
  <% //console.log("author", catalog[0].author.username) %> 
  <%  }%> 
 
  <!-- NavBar -->
  <% let cartCount = userInfo?.userCart[0]?.itemId.length %> 
  <%-  include("./partials/navbar", {userInfo, cartCount}) %> 

  <section class="mainContainerSection catalog">
  <%-  include("./partials/navOptions") %> 

    <div class="mainContainer">
     <!--  catalog.length -->
     <% for( let i = 0; i < catalog.length; i++ ) { %>
      <div class="catalogItem">

        <h5>Item ID</h5>
        <p><%-catalog[i]._id%></p>
        
        <h5>ID of the Item Hero Associated With: </h5>
        <p><%-catalog[i].itemId%></p>
        
        <h5>Title</h5>
        <input type="text" name="title" value="<%-catalog[i].title%>">

        <h5>Description</h5>
        <textarea name="description"><%-catalog[i].description%></textarea>

        <h5>Category</h5> 
        <input type="text" name="category" value="<%-catalog[i].category%>">

        <h5>Author</h5>
        <p><span><%-catalog[i].author?.firstName%></span> <span><%-catalog[i].author?.lastName%></span> </p>

        <h5>Uploaded Date</h5>
        <p><%-catalog[i].date%></p>

        <h5>Hero Cover Image</h5>
        <img src="/images/<%=catalog[i].heroCover%>"/>
       
        <h5>Hero Image</h5>
        <img src="/images/<%=catalog[i].heroImage%>"/>
       
        <div class="btnContainer">
          <button class="btn btn2">Update Hero</button>
          <button class="btn btn2 btnWarning">Delete Hero</button>
        </div>

      </div>
     <% } %>
    </div>
  </section>

  <!-- footer -->
  <footer>
    <%- include("./partials/footer") %> 
  </footer>
  <%- include("./partials/scripts") %> 
</body>
</html>