<!DOCTYPE html>
<html lang="en">
 <head>
  <%- include("./partials/head", {title : "Login"}) %> 
 </head>
 <body>
 <body>
  <% let userInfo = undefined %> 
  <% if (locals.user) { %> 
  <%  userInfo = user %>
  <% } %> 

  <% let  message%> 
  <% if (locals.messages) { %>
   <% message = messages%> 
  <% } %>
  
  <% let  path%> 
  <% if (locals.urlPath) { %>
   <% path = urlPath%> 
  <% } %>
  
  
  <!-- Header -->
  <% let cartCount = userInfo?.userCart[0]?.itemId.length %> 
  <%-  include("./partials/navbar", {userInfo, cartCount}) %> 

   <section class="loginSection">
    <div class="loginContainer">
     <h1>LOGIN</h1>
     <div class="errMessage">
      <p><% //if(message?.error) { %> <%= // message?.error %> <% //} %></p>
      <p>Username or Password is not correct.</p>
     </div>
     
     <form action="/account/login/?path=<%= path %> " method="POST">
      
      <p class="label">Username</p>
      <input type="text" id="username" name="username" required /><br />
      
      <p class="label">Passord</p>
      <input type="password" id="password" name="password"" required /><br />
      <button>Login</button>
     </form>

     <p>Not a member? <a href="/account/register/">Sign Up</a></p>
    </div>
   </section>



  <!-- footer -->

  <footer>
   <%- include("./partials/footer") %> 
   </footer>
   <%- include("./partials/scripts") %> 
  </body>
 </html>
 