<!DOCTYPE html>
<html lang="en">
 <head>
  <%- include("./partials/head", {title : "Login"}) %> 
 </head>
 <body>
 <body>
  <% let userInfo = undefined %> 
  <% if (locals.user) { %> 
  <%  userInfo = user %>
  <% } %> 

  <% let  message %> 
  <% if (locals.messages) { %>
   <% message = messages%> 
  <% } %>
  <% console.log("message", message) %> 

  <% let  path%> 
  <% if (locals.urlPath) { %>
   <% path = urlPath%> 
  <% } %>
  
  
  <!-- Header -->
  <% let cartCount = userInfo?.userCart[0]?.itemId.length %> 
  <%-  include("./partials/navbar", {userInfo, cartCount}) %> 

   <section class="loginSection">
    <div class="loginContainer">
     <h1>LOGIN</h1>

     <% if(message) { %>
      <div class="errMessage">
       <p><%=  message %></p>
      </div>
     <% } %>
     <div class="errMessageContainer"></div>
    
     <form action="/account/login/?path=<%= path %> " method="POST">
      
      <p class="label">Username</p>
      <input type="text" id="username" name="username" required /><br />
      
      <p class="label">Password</p>
      <input type="password" id="password" name="password"" required /><br />
      <button class="btn btn2 submit">Login</button>
     </form>

     <p class="notAMember">
      Not a member? 
      <a href="/account/register/"><span class="link">Register Here!</span></a>
     </p>
    </div>
   </section>



  <!-- footer -->

  <footer>
   <%- include("./partials/footer") %> 
   </footer>
   <%- include("./partials/scripts") %> 
   <script src="/js/formValidate.js"></script>
  </body>
 </html>
 