<!DOCTYPE html>
<html lang="en">
 <head>
  <%- include("./partials/head", {title : "Register"}) %> 
 </head>
 <body>
 <body>
  <% let userInfo = undefined %> 
  <% if (locals.user) { %> 
  <%  userInfo = user %>
  <% } %> 

  <% let  message%> 
  <% if (locals.messages) { %>
   <% message = messages%> 
  <% } %>
  
  <% let  path %> 
  <% if (locals.urlPath) { %>
   <% path = urlPath%> 
  <% } %>
  
  <!-- Header -->
  <% let cartCount = userInfo?.userCart[0]?.itemId.length %> 
  <%-  include("./partials/navbar", {userInfo, cartCount}) %> 
  <section class="loginSection registerSection">
   <div class="loginContainer">
    <h1>REGISTER</h1>

    <% if(message) { %>
     <div class="errMessage">
      <p><%=  message %></p>
     </div>
    <% } %>
    <div class="errMessageContainer"></div>
   
        
      <form action="/account/register/?path=<%= path %>"  method="POST">
       <div class="oneField">
         <div class="fields">
          <p class="label">First Name</p>
          <input type="text" id="firstName" name="firstName"  required /><br /><br />
         </div>
         <div class="fields"> 
          <p class="label">Last Name</p>
          <input type="text" id="lastName" name="lastName" required /><br /><br />
        </div>
       </div>
      
       <div class="oneField">
        <p class="label">Gender</p> 
        <select name="gender" id="gender" required>
         <option value="" disabled selected>Select</option>
         <option value="male">Male</option>
         <option value="female">Female</option>
         <option value="noAnswer">No answer</option>
       </select>
       </div>
       

       <p class="label">Date of Birth</p>
       <input type="date"name="dob" id="dob" value="mm-dd-yyyy"><br /><br />

       <p class="label">Username</p>
       <input type="text" id="username" name="username" required /><br /><br />

       <p class="label"">Email Address</p>
       <input type="email" id="email" name="email" required /><br /><br />

       <p class="label">Password</p>
       <!-- <input type="password" id="password" name="password" required /><br /><br /> -->
       <div class="inputPassContainer">
        <input type="password" id="password" name="password" required /><br /><br />
        <img src="/imgs/icons/passwordShow.png" id="showPassBtnCurrPassword" class="togglePassBtn">
      </div>

       <p class="label">Phone Number</p>
       <input type="number" id="phone" name="phone" required /><br /><br />
       
       <button class="btn btn2 submit">Submit</button>
      </form>
      <p class="notAMember">
       Already a member? 
       <a href="/account/login/"><span class="link">Lonin Here!</span></a>
      </p>
   </div>
  </section>

  <!-- footer -->

  <footer>
   <%- include("./partials/footer") %> 
   </footer>
   <%- include("./partials/scripts") %> 
   <script src="/js/editAccount.js"></script>
   <script src="/js/formValidate.js"></script>
  </body>
 </html>
 