<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head", {title : "Upload Hero"}) %> 
  </head>
 <body>
 <body>
   
  <% if (locals.message) { %>
    <h5> <%= message %>  </h5>
   <% } %>
 
   <% let userInfo = undefined %> 
   <% if (locals.user) { %> 
   <%  userInfo = user %>
   <% } %> 
 
   <% let fieldValues %> 
   <% if (locals.data) { %>
    <% fieldValues = data %> 
   <% } %>
 
  <% let selectedItemId %> 
  <% if (locals.id) { %>
   <% selectedItemId = id %> 
  <% } %>

  <!-- navbar -->
  <% let cartCount = userInfo?.userCart[0]?.itemId.length %> 
  <%-  include("./partials/navbar", {userInfo, cartCount}) %> 

  <section class="mainContainerSection catalog">
    <%-  include("./partials/navOptions") %>

    <div class="mainContainer">
      <form action="/upload/hero" enctype="multipart/form-data" method="POST">
      
        <label for="itemId">Item ID: </label><br>
        <% if (fieldValues?.itemId != undefined) { %>
        <input type="text" name="itemId" id="itemId" size="77" value=<%= fieldValues.itemId  %> required />
        <% }  else {%>
        <input type="text" name="itemId" id="itemId" size="77" value=<%=selectedItemId%> required />
        <% } %>
        <br>
        <a href="/item/catalog"><span class="link" >Find Item With ID From Catalog</span></a> 
        <br /><br />
    
        <label for="title">Hero Title: </label><br>
        <% if (fieldValues?.title != undefined) { %>
        <input type="text" name="title" id="title" size="77" value=<%= fieldValues.title  %> required />
        <% }  else {%>
        <input type="text" name="title" id="title" size="77" placeholder="Title..." required />
        <% } %>
        <br />
    
        <label for="description">Hero Description:</label><br>
        <% if (fieldValues?.description != undefined) { %>
          <textarea  name="description" id="description"required><%=fieldValues.description%></textarea>
        <% }  else {%>
          <textarea  name="description" id="description"placeholder="Title..." required></textarea>
        <% } %>
        <br />
    
        <label for="category">Hero Category:</label>
        <select name="category" id="category" required>
          <option value="shirts">Shirts</option>
          <option value="shoes">Shoes</option>
          <option value="hoodie">Hoodie</option>
          <option value="jeans">Jeans</option>
          <option value="shorts">Shorts</option>
         </select>
        <br />
    
        <label for="heroCoverImg">Hero Item Cover:</label><br>
        <input type="file" name="heroCoverImg" class="fileUpload" id="heroCoverImg"/>
        <br />
        
        <label for="heroItemImg">Hero Item Image:</label><br>
        <input type="file" name="heroItemImg" class="fileUpload" id="heroItemImg" />
        <br />

        <button class="btn btn2">Upload</button>
      </form>
    </div>
  </section>

  <!-- footer -->
  <footer>
    <%- include("./partials/footer") %> 
  </footer>
  <%- include("./partials/scripts") %> 
 </body>
</html>
